.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1024px;
  grid-template-areas: 
  "h h"
  "n c"
  ;
  grid-template-rows: 60px 1fr;  /* fr == 'fraction' */
  grid-template-columns: 2fr 10fr;
  
}

.app-wrapper-content{
 /* grid-area: c; */
  background-color: powderblue;
  padding: 10px;
}


.profile{
  grid-area: p;

}

.messages{
  grid-area: m;
}
