.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr; /* for nested .dialogItems and .messages */
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active{
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}